<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Register</title>
</head>
<body>
    <header>
        <div class="topnav">
            <div class="login">
                <a href="{{ url_for('login') }}">Login</a>
            </div>
        </div>
    </header>
    <div class="rform">
        <h2>Registration</h2>
    <form action="{{ url_for('register') }}" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        <br>
        {% with messages = get_flashed_messages()%}
        {% if messages%}
            {% for message in messages%}
            <p>{{message}}</p>
            {%endfor%}
            {%endif%}
            {%endwith%} 
        <input type="submit" value="Register" class="button">
        <p>Already have an account? <a href="{{ url_for('login') }}">Login here</a></p>
      </form>
    </div>
</body>
</html>