<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Document</title>
</head>
<body>
    <header>
        <div class="topnav">
            <div class="pages">
            <a href="{{ url_for('index') }}">Portfolio</a>
            <a class="active" href="{{ url_for('trade') }}">Trade</a>
            <a href="{{ url_for('log') }}">Log</a>
        </div>
        <div class="logout">
            <a href="{{ url_for('logout') }}">Logout</a>
        </div>
        </div>
        
    </header>
    <main>
        <h1>Stocks</h1>
        <section>
            
            <table>
                <thead>
                    <tr>
                        <th>SYMBOL</th>
                        <th>NAME</th>
                        <th>PRICE</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ticker, data in stocks.items() %}
                    <tr>
                        <td>{{ ticker }}</td>
                        <td>{{ data.name }}</td>
                        <td>${{ data.price }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
        <section>
            <h1>Search Stock</h1>
            <form method="POST" action="{{ url_for('trade') }}">
                <label for="stock_search">Enter Stock Symbol:</label>
                <input type="text" id="stock_search" name="stock_search" required>
                <input type="submit" value="Search">
            </form>
        </section>
        {% if searched_stock %}
        <section>
            <h1>Searched Stock</h1>
            <table>
                <thead>
                    <tr>
                        <th>SYMBOL</th>
                        <th>NAME</th>
                        <th>PRICE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ searched_stock.ticker }}</td>
                        <td>{{ searched_stock.name }}</td>
                        <td>${{ searched_stock.price }}</td>
                    </tr>
                </tbody>
            </table>
        </section>
        {% endif %}
        <section>
            <h2>Stock Price Chart (Last 30 Days)</h2>
            <canvas id="stockChart" width="400" height="200"></canvas>
        </section>
        <section class="buysell">
            <form action="{{ url_for('buy') }}" method="POST">
                <label for="ticker">Ticker:</label>
                <input type="text" id="ticker" name="ticker" required>
            
                <label for="shares">Shares:</label>
                <input type="number" id="shares" name="shares" required>
            
                <input type="submit" value="Buy">
            </form>
            <form action="{{ url_for('sell') }}" method="POST">
                <label for="ticker">Ticker:</label>
                <input type="text" id="ticker" name="ticker" required>
            
                <label for="shares">Shares:</label>
                <input type="number" id="shares" name="shares" required>
            
                <input type="submit" value="Sell">
            </form>    
        </section>
        <script src="{{ url_for('static', filename='js/visualization.js') }}"></script>
        <script>
            
        </script>
    </main>
    <footer>
        <p>&copy; 2024 Fox Of Hood</p>
    </footer>
</body>
</html>
