<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="topnav">
            <div class="pages">
            <a href="{{ url_for('index') }}">Portfolio</a>
            <a href="{{ url_for('trade') }}">Trade</a>
            <a class="active" href="{{ url_for('log') }}">Log</a>
        </div>
        <div class="logout">
            <a href="{{ url_for('logout') }}">Logout</a>
        </div>
        </div>
    </header>
    <main>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>id</th>
                        <th>eventName</th>
                        <th>stockSold</th>
                        <th>stockBought</th>
                        <th>date</th>

                    </tr>
                </thead>
                <tbody>
                    {% for entry in log_entries %}
                    <tr>
                        <td>{{ entry['id'] }}</td>
                        <td>{{ entry['eventName'] }}</td>
                        <td>{{ entry['stockSold'] }}</td>
                        <td>{{ entry['stockBought'] }}</td>
                        <td>{{ entry['date'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
    
</body>
</html>